<header>
    <nav class="main-nav">
        <a href="/" class="nav-link <%= activePage === 'home' ? 'active' : '' %>">Hjem</a>
        <a href="/leaderboard" class="nav-link <%= activePage === 'leaderboard' ? 'active' : '' %>">Rangering</a>
        <a href="/guide" class="nav-link <%= activePage === 'guide' ? 'active' : '' %>">Brukerveiledning</a>
    </nav>
</header>